// text colors
$header-text-color: #5c5c5c;
$main-text-color: #161616;
$light-text-color: #fff;
$button-background-color: #000;

//media breakpoints
$containerWidth: 1280px;
$desktop: 1000px;
$tablet: 768px;
$mobile: 375px;
